# For an overview of the governance model of cslib, please refer to /GOVERNANCE.md

### Global access
# This should be used sparingly.
# - @fmontesi has global access as lead maintainer.
# - @chenson2018 has global access to help with the release pipeline, which sometimes requires
#   editing files in different areas of the codebase.

* @fmontesi @chenson2018
/.github/CODEOWNERS @fmontesi

### Area access
# Each area maintainer has access to parts that pertain them. They get automatically asked for
# reviewing new PRs that touch those areas.
/Cslib/Algorithms/ @fmontesi @sorrachai
/Cslib/Foundations/Logic/ @arademaker @fmontesi @chenson2018
/Cslib/Logics/ @arademaker @fmontesi @chenson2018
/Cslib/Languages/LambdaCalculus/ @chenson2018 @fmontesi
/.github/workflows @kim-em @fmontesi @chenson2018
/scripts @kim-em @fmontesi @chenson2018
